<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.horim">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher_like"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_like_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDmFBGs9HyfDTQ-9t6k7mldMOZJ7QnaCE" />

        <activity android:name=".init"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menudetail"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".chickendetail"/>
        <activity android:name=".japanActivity"/>
        <activity android:name=".koreaActivity"/>
        <activity android:name=".languageActivity"/>
        <activity android:name=".mapActivity"/>
        <activity android:name=".nightActivity"/>
        <activity android:name=".pizzaActivity"/>
        <activity android:name=".qrActivity"/>
        <activity android:name=".chickenActivity"/>
        <activity android:name=".chinaActivity"/>
        <activity android:name=".hamburgerActivity"/>
        <activity android:name=".infoActivity"/>
        <activity android:name=".italyActivity"/>
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".korea_1"/>
        <activity android:name=".china_1"/>
        <activity android:name=".japan_1"/>
        <activity android:name=".ni_3"/>
        <activity android:name=".italy_1"/>
        <activity android:name=".pi_1"/>
        <activity android:name=".ham_1"/>
    </application>

</manifest>